---
# handlers file for container_init
- name: (Re)start containers
  become: true
  become_user: "{{ item.owner }}"
  ansible.builtin.systemd:
    name: "{{ item.prefix | default(container_init_default_prefix) }}-{{ item.name }}"
    state: restarted
    scope: "{{ 'user' if item.owner != 'root' else 'system' }}" # TODO Use scope fact
  loop: "{{ container_restart_queue }}"
  loop_control:
    label: "{{ item.name }}"
  # Its often useful to stagger startup times
  throttle: 1
  notify: Flush (Re)start queue

# If (Re)start containers somehow runs multiple
#  times it will restart services more then once.
#  This handler solves that issue by clearing the queue.
- name: Flush (Re)start queue
  ansible.builtin.set_fact:
    container_restart_queue: []
